<ion-view title="PyroSeed" hide-nav-bar="true">
  <ion-content scroll="false">

  <div style="text-align:center;">
    <h1>pyro</h1>
    <h3>starter app</h3>
    <div class="spacer" style="height: 10px;"></div>
      <i class="fa fa-fire fa-5x" style="color:#EEEEEE;"></i>
    <div class="spacer" style="height: 30px;"></div>
    </div>
  <div class="list">
    <label class="item item-input">
      <input type="text" placeholder="Email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="Password">
    </label>
    <button class="item button button-block button-theme">Sign In</button>
    <p class="item button-block button-clear text-center">Don't have an account? <a ui-sref="signup">Sign up.</a></p>
  </div>

  <div class="bar bar-footer bar-light">
    <p class="title">&copy; 2014 Prescott Prue &amp; Sinan Bolel</p>
  </div>
  
  </ion-content>
</ion-view>