<ion-view title="">
	<ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" scroll="false" class="has-header">

  <div class="text-center">
    <div class="row">
      <div class="col "><h4 class="m-n">welcome to</h4></div>
    </div>
    <div class="row">
      <div class="col"><h1 style="margin-top:-0.5em;">pyro</h1></div>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div class="row">
      <div class="logo-circle"></div>
    </div>
    <div class="spacer" style="height: 40px;"></div>
    <div class="row">
      <div class="col"><p>time to get some users :)</p></div>
    </div>
  </div>

  <div class="bar bar-footer bar-light">
    <p class="title">&copy; 2014 Prescott Prue &amp; Sinan Bolel</p>
  </div>

  </ion-content>
</ion-view>